.post {
    padding: 20px 0;
}

.btn-sm {
    margin: 5px 5px 5px 0;
}

.btn-danger {
    margin: 5px 0 5px 10px;
}

.comments-container {
    display: none;
}

.input-group {
    display: none;
}

.hide {
    display: none;
}

.edit-input {
    float:left;
    width: 50px;
}

.input {
    width: 85%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.update-post {
    float: right;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  #sortable { 
      /* list-style-type: none; margin: 0; padding: 0; width: 60%;  */
    }
  #sortable li { 
      /* margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px;  */
    }
  #sortable li span { 
      position: absolute; margin-left: -1.3em; 
}